In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Reading the Data

In [2]:
df = pd.read_csv('StockX-ML-Data.csv')

df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Percent Change,Days Since Release,Original Release
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097,220,9/24/16,11.0,California,398.636364,1665,0
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685,220,11/23/16,11.0,California,211.363636,1605,0
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690,220,11/23/16,11.0,California,213.636364,1605,0
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075,220,11/23/16,11.5,Kentucky,388.636364,1605,0
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828,220,2/11/17,11.0,Rhode Island,276.363636,1525,0

## Data Preprocessing

In [15]:
# Create a color bank to add color column
color_bank = {'Black', 'Butter', 'Blue Tint', 'Zebra', 'Semi Frozen Yellow', 'University Blue', 'Total Orange', 'White', 'Chicago', 'Turtle Dove'}

def retrieve_color(shoe_name):
  ''' Function will extract the color from the shoe name'''
  pass

In [3]:
# Applying retrieve color function to get color for each row
#df['Color'] = df.apply(retrieve_color, axis=1)

# Label encoding the states to have values from 0 - 49
# Instatniate LabelEncoder
label_encoder = LabelEncoder()

# LabelEncode Buyer Region column of df
df['Buyer Region'] = label_encoder.fit_transform(df['Buyer Region'])
df['Color'] = label_encoder.fit_transform(df['Sneaker Name'])

# Inspecting encoded df
df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Percent Change,Days Since Release,Original Release,Color
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097,220,9/24/16,11.0,4,398.636364,1665,0,5
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685,220,11/23/16,11.0,4,211.363636,1605,0,8
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690,220,11/23/16,11.0,4,213.636364,1605,0,9
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075,220,11/23/16,11.5,17,388.636364,1605,0,10
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828,220,2/11/17,11.0,39,276.363636,1525,0,11