In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Reading the Data

In [2]:
df = pd.read_csv('StockX-ML-Data.csv')

df.head()

  Order Date   Brand  ... Days Since Release  Original Release
0     9/1/17   Yeezy  ...               1665                 0
1     9/1/17   Yeezy  ...               1605                 0
2     9/1/17   Yeezy  ...               1605                 0
3     9/1/17   Yeezy  ...               1605                 0
4     9/1/17   Yeezy  ...               1525                 0

[5 rows x 11 columns]

## Cleaning the Data

In [14]:
# Label encoding the states to have values from 0 - 49
# Instatniate LabelEncoder
label_encoder = LabelEncoder()

# LabelEncode Book_Tablecolumn of df
df['Buyer Region'] = label_encoder.fit_transform(df['Buyer Region'])

# Inspecting encoded df
df.head()

  Order Date   Brand  ... Days Since Release  Original Release
0     9/1/17   Yeezy  ...               1665                 0
1     9/1/17   Yeezy  ...               1605                 0
2     9/1/17   Yeezy  ...               1605                 0
3     9/1/17   Yeezy  ...               1605                 0
4     9/1/17   Yeezy  ...               1525                 0

[5 rows x 11 columns]